<section class="admin-products-show">
  <header class="page-header">
    <h1>Admin | Dashboard</h1>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Total Number of Products</th>
        <th scope="col">Total Number of Categories</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <th><%= @product_count %></th>
          <th><%= @category_count %></th>
        </tr>
      </tbody>
  </table>
</section>