<section class="admin-products-show">
  <header class="page-header">
    <h1>Admin | Dashboard</h1>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Total Number of Products</th>
        <th scope="col">Total Number of Categories</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <th><%= link_to @product_count, [:admin, :products], class: "link-primary" %></th>
          <th><%= link_to @category_count, [:admin, :products], class: "link-primary" %></th>
        </tr>
      </tbody>
  </table>
</section>