<section class="admin-products-show">
  <header class="page-header">
    <h1>About</h1>

    <div class="intro">
      <p>
        Welcome to Jungle, your one-stop-shop for all things tropical plants! Our mission is to bring a piece of the jungle into your home or office by providing the most beautiful and exotic plants from around the world. We believe that everyone deserves to experience the joy and tranquility that comes with owning a piece of nature, and we’re here to make that possible for you. At Jungle, we take pride in our extensive collection of tropical plants and our knowledgeable team of plant experts who are always ready to assist you with any questions or concerns.
      </p>
      <p>
        Our commitment to quality is unmatched. We work closely with our trusted growers to ensure that our plants are healthy, vibrant, and thriving. Each plant is carefully selected and inspected before it is added to our collection. We understand that buying plants online can be challenging, but we guarantee that you will receive a healthy and beautiful plant when you shop with Jungle. Our packaging is designed to protect your plant during transportation, and we also provide care instructions to help you keep your plant healthy and happy for years to come.
      </p>
      <p>
      We also believe in sustainability, and we take steps to reduce our environmental impact. Our plants are grown using sustainable farming practices, and we strive to minimize waste in our packaging and shipping materials. At Jungle, we are passionate about plants and our planet, and we want to share that passion with you. We hope that our collection of tropical plants will inspire you to create your own jungle oasis at home or in your office. Thank you for choosing Jungle!
      </p>
    </div>

  </header>
  </section>